# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_BASEPATH=/api/auth 

# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------
# Diisi dengan URL API yang digunakan oleh aplikasi, misalnya http://localhost:3000/api atau https://api.example.com
AUTH_API_URL=
ASSIGNMENT_API_URL=
CLASS_API_URL=

NEXT_PUBLIC_AUTH_API_URL=${AUTH_API_URL}
NEXT_PUBLIC_ASSIGNMENT_API_URL=${ASSIGNMENT_API_URL}
NEXT_PUBLIC_CLASS_API_URL=${CLASS_API_URL}